{{!-- <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Tech Blog</title>
    <!-- add stylesheet links here -->
  </head>

  <body>
    <nav>
      <!-- add navigation links here -->
    </nav>

    {{{body}}}

    <footer>
      <!-- add footer content here -->
    </footer>

    <!-- add script links here -->
  </body>

</html> --}}

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Tech Blog</title>
    <!-- add stylesheet links here -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- add navigation links here -->
    </nav>

    <div class="container">
      {{{body}}}
    </div>

    <footer class="footer mt-auto py-3 bg-light">
      <!-- add footer content here -->
    </footer>

    <!-- add script links here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>

</html>