<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Tech Blog</title>
    <!-- add stylesheet links here -->
  </head>

  <body>
    <nav>
      <!-- add navigation links here -->
    </nav>

    {{{body}}}

    <footer>
      <!-- add footer content here -->
    </footer>

    <!-- add script links here -->
  </body>

</html>