{{> menu }}

<form id="new-post-form">
  <input type="text" name="title" placeholder="Title" required />
  <textarea name="content" required></textarea>
  <button type="submit">Create Post</button>
</form>
<script src="/js/new.js"></script>